*.265 filter=lfs diff=lfs merge=lfs -text
video_data/BundNightScape_s000.265 filter=lfs diff=lfs merge=lfs -text
video_data/Characters_s000.265 filter=lfs diff=lfs merge=lfs -text
video_data/CityAlley_s000.265 filter=lfs diff=lfs merge=lfs -text
video_data/Crowd_s000.265 filter=lfs diff=lfs merge=lfs -text
video_data/Dolls_s000.265 filter=lfs diff=lfs merge=lfs -text
video_data/Old/AncientThought_s000.265 filter=lfs diff=lfs merge=lfs -text
video_data/Old/Bosohorus_s000.265 filter=lfs diff=lfs merge=lfs -text
